@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://lh3.googleusercontent.com/proxy/KaW5jSZKmiIClmU-ObqkGvfB3dz2BX89cm8P46WFRdjWk-2g-lwG9ivQW-akXS_MZO6BSqEFhcE2muFe75YCTzkRDvtw2adHdkdy2pkjkV3pAppnQGbn6fcx9ZBatxzaIR2aGClBGGiUiZhz6FvYBRrnFSNaoJU");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



